
@media screen and (min-width: 768px) {
    .jkl-menu{
        position:fixed;
        top:0;
    }

    .jkl-slider-content {
        padding-top: 200px
    }

}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .jkl-slider-container {
        height: 600px;
    }
    .jkl-slider-content h1 {
        font-size: 54px;
    }
    .jkl-slider-content p {
        font-size: 15px;
    }
}

/* Extra small Device. */
@media (max-width: 767px) {
    .jkl-slider-container {
        height: 480px;
    }
    .jkl-slider-content h1 {
        font-size: 36px;
    }
    .jkl-slider-content p {
        font-size: 14px;
    }

    .yoga-img-thumb img, .jkl-home-about-img img {
        width: 100%
    }
}

/* LG Device :992px. */
@media (min-width: 992px){
    .jkl-header-logo {
        height: 180px;
        width: 180px;
    }
    .jkl-header-bg h1 {
        font-size: 33px;
        font-weight: 400;
    }

    .jkl-header-bg {
        padding-top: 130px;
        height: 220px;
    }
    .navbar ul {
        background: #00000000;
    }
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .jkl-slider-content h1 {
        font-size: 40px;
    }
}