@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
.f-left {
    float: left
}
.f-right {
    float: right
}
.fix {
    overflow: hidden
}
a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}
button{
    cursor:pointer;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    color: #2B96CC;
    text-decoration: none;
}
a,
button {
    color: #1696e7;
    outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #000;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}
h1 {
    font-size: 40px;
    font-weight: 500;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none
}
p {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #7e7e7e;
    margin-bottom: 15px;
}
hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}
label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
.separator {
    border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
    -moz-user-select: none;
    background: #ff5e14;
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 40px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:hover{
    color: #fff;
}
.breadcrumb > .active {
    color: #888;
}

/* 2. Header */
.header-cta {
    overflow: hidden;
}
.header-top-cta span {
    margin-right: 7px;
    color: #fff;
    font-size: 13px;
}
.header-top-cta span i {
    padding-right: 10px;
    color: #ff5e14;
}
.top-social-links span {
    font-size: 13px;
    color: #fff;
}
.top-social-links a {
    color: #fff;
    font-size: 13px;
    padding-left: 10px;
}
.top-social-links a:hover i{
    color: #ff5e14;
}
.top-social-links i {
    display: inline-block;
    padding: 13px 0;
    transition: .3s;
}
.top-btn {
    display: inline-block;
}
.top-btn a {
    text-transform: capitalize;
    background: #ff5e14;
    padding: 10px 15px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}
/* cta */
.header-single-cta {
    float: right;
    margin-left: 90px;
}
.header-single-cta h3 {
    color: #ff5e14;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}
.header-single-cta h3 i {
    margin-right: 3px !important;
    margin: 0;
    float: unset;
    font-size: 16px;
}
.header-single-cta span {
    font-size: 14px;
}



.jkl-header {
    position: relative;
    top: 0px;
    width: 100%
}

.jkl-header-bg {
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 30px;
    height: 100px;
    background-image:url("../images/about-us-section3-bg.jpg");
    background-position: center center;
    transition: 0.8s;
}

.jkl-header-bg::before {
    position: absolute;
    top: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    transition: 0.8s;

}

.jkl-header-bg h1 {
    transition: 0.8s;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
    z-index: 4;
}


.jkl-slider-container {
    height: 650px;
    position: relative;
    top: 0px;
    background-position: center center;
    background-size: cover;
}
.jkl-slider-content {
    padding-top:100px;
    overflow: hidden;
}
#jk-nav {
    padding: 0px;
}
.jkl-slider-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px;
}
.jkl-slider-content h1 span {
    color: #ff5e14;
}
.jkl-slider-content p {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    margin-bottom: 35px;
}

.jkl-slider-content .btn {
    -moz-user-select: none;
    background: #ff5e14;
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 40px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}


.jkl-menu{
    position:absolute;
    width:100%;
    top:0px;
    z-index:100
}


.jkl-slider-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
.jkl-header-logo {
    height: 100px;
    width: 100px;
    transition: 0.8s
}
.jkl-header-logo img {
    max-width:100%;
    max-height:100%;
    position: relative;
    top: 6px;

}
.jkl-slider::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}

.slick-slide:nth-child(1n)  .jkl-slider-container {
    background-image:url("../images/slider-6.jpg");
}
.slick-slide:nth-child(2n) .jkl-slider-container {
    background-image: url("../images/slider-2.jpg");
}
.slick-slide:nth-child(3n) .jkl-slider-container {
    background-image: url("../images/slider-3.jpg");
}
.slick-slide:nth-child(4n) .jkl-slider-container {
    background-image: url("../images/slider-4.jpg");
}
.slick-slide:nth-child(5n) .jkl-slider-container {
    background-image: url("../images/banner-07.jpg");
}
.slick-slide:nth-child(6n) .jkl-slider-container {
    background-image: url("../images/institue-banner-image.jpg");
}
.slick-slide:nth-child(7n) .jkl-slider-container {
    background-image: url("../images/phtyon-banner-2.jpg");
}
.slick-slide:nth-child(8n) .jkl-slider-container {
    background-image: url("../images/institue-banner-image.jpg");
}
.slick-slide:nth-child(9n) .jkl-slider-container {
    background-image: url("../images/phtyon-banner-2.jpg");
}
/* slick dots */
.jkl-slider .slick-dots li {
    display: inline-block;
}
.jkl-slider .slick-dots {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 25px;
}
.jkl-slider .slick-dots li button {
    text-indent: -9999px;
    border: 0;
    margin: 0 5px;
    padding: 0;
    height: 3px;
    width: 25px;
    background: #fff;
}
.jkl-slider .slick-dots li.slick-active button{
    background: #ff5e14;
}

.jkl-slider {
    position: relative;
    top: 0px
}

.jkl-slider-arrows {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
}

.jkl-slider-prev, .jkl-slider-next, .jkl-slider-prev:visited, .jkl-slider-next:visited {

    background-color: #00000000;
    color: #ff5e14;
    border-color: #ff5e14;
    border-top-color: rgb(255, 94, 20);
    border-right-color: rgb(255, 94, 20);
    border-bottom-color: rgb(255, 94, 20);
    border-left-color: rgb(255, 94, 20);
    z-index: 99;
}

.jkl-slider-prev {
    position: absolute;
    top: 50%;
    left: 20px;
}

.jkl-slider-next {
    position: absolute;
    top: 50%;
    right: 20px;
}
.navbar ul {
    background: #000000db;
}

nav ul  a  {
    color:#ffffff
}
nav ul  a:hover  {
    color: #ff5e14
}
nav ul .active a  {
    color: white
}

.jkl-footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.jkl-footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}
ul {
    margin: 0px;
    padding: 0px;
}
.jkl-footer p {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #d0d0d0;
    margin-bottom: 15px;
}
.jkl-footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    list-style: none
}
.jkl-footer-widget ul li a:hover{
    color: #ff5e14;
}
.jkl-footer-widget ul li a {
    color: #d0d0d0;
    text-transform: capitalize;
}

.jkl-footer-addr-widget  a:hover{
    color: #ff5e14;
}
.jkl-footer-addr-widget  a {
    color: #d0d0d0;
}

.jkl-footer-widget-heading h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    position: relative;
}

.jkl-footer-content {
    position: relative;
    z-index: 2;
}
.jkl-footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.jkl-footer-logo {
    margin-bottom: 30px;
    opacity: 0.5;
}
.jkl-footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
}
.jkl-footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.jkl-footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.jkl-footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.twitter-bg{
    background: #55ACEE;
}
.google-bg{
    background: #DD4B39;
}
.jkl-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    top: 0px;
}

.jkl-footer-addr-widget {
    position: relative;
    left: 0px;
}
.jkl-footer-logo  {
    content: "";
    position: absolute;

    padding-left:35%;
    z-index: 0;
}
.jkl-footer-logo img {
    height: 200px;
}
.jkl-footer-logo::before {
    content: "";
    position: absolute;
    top: 10px;
/*     width: 100%;
    height: 100%; */
    background: black;
    opacity: 0.85;
}


/* 4. About */
.section-title h2 {
    position: relative;
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
    line-height: 1;
    text-align: left;
}
.post-comments .section-title h2 {
    margin-bottom: 15px;
}
.section-title h2::before {
   /* content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #ff5e14;
    bottom: -25px;*/
    text-align: left;
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 2px;
    /* background: #ff5e14; */
    background:transparent;
    bottom: -15px;
    right: 0;
    margin: auto;
}
.service-title h2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #ff5e14;
    bottom: -25px;
    right: 0;
    margin: auto;
}

.section-title.service-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.about-info-text h2 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
}

.jkl-home-about-info-white-text h2 {
    margin-bottom: 23px;
    padding-top: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
    color: white;
    position: relative;
    text-align:center;
/*     display: inline-block; */
}
.jkl-home-about-info-white-text .section-title>h2 {
    padding-top: 0;
}
.jkl-home-about-info-white-text h2:before{
     text-align: center;
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 2px;
    background: #ff5e14;
    bottom: -15px;
    right: 0;
    margin: auto;
}


.about-info-text p {
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 26px;

}
.jkl-home-about-info-white-text p {
    font-size: 14px;
    margin-bottom: 26px;
    color: #f6f6f6;
    text-align: center;
}

.about-content p {
    margin-bottom: 0;
}
.jkl-home-about-info-white a {
    margin-bottom: 20px;
}
.about-info-text a {
    margin-bottom: 20px;
}
.portfolio-menu {
    line-height: 1;
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-wrapper:hover .portfolio-thumb::before, .portfolio-wrapper:hover .portfolio-thumb::after,.portfolio-wrapper:hover .view i{
   opacity: .8;
}
.academics-block .portfolio-wrapper:hover .portfolio-thumb::before, .academics-block .portfolio-wrapper:hover .portfolio-thumb::after, .academics-block.portfolio-wrapper:hover .view i{
/*     opacity: .8; */
     opacity: 0;
}
.academics-block .portfolio-wrapper:hover .portfolio-thumb::before, .academics-block .portfolio-wrapper:hover .portfolio-thumb::after, .academics-block.portfolio-wrapper:hover .view i{
/*     opacity: .8; */
     opacity: 0;
}

.residental-esae-of-living .portfolio-wrapper:hover .portfolio-thumb::before, .residental-esae-of-living .portfolio-wrapper:hover .portfolio-thumb::after, .residental-esae-of-living .portfolio-wrapper:hover .view i{
/*     opacity: .8; */
     opacity: 0;
}
.student-life .portfolio-wrapper:hover .portfolio-thumb::before, .student-life .portfolio-wrapper:hover .portfolio-thumb::after, .student-life .portfolio-wrapper:hover .view i{
/*     opacity: .8; */
     opacity: 0;
}
.portfolio-wrapper:hover .portfolio-content{
    transform: translateY(0);
}

.features-wrap a {
    font-size: 14px;
    font-weight: 600;
    color: #ff5e14;
}

.portfolio-content p {
    color: #ffffffa3
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-thumb img {
    transition: .3s;
}

img {
    transition: .3s;
}
.portfolio-wrapper:hover .portfolio-thumb img {
    transform: rotate(3deg) scale(1.1);
}

.yoga-img-thumb img:hover {
    transition: .3s ease;
    transform: translateX(10px) scale(1.1);
}
.portfolio-thumb::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0;
    transition: .3s;
    z-index:9
}
.portfolio-thumb::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 2px solid #ff5e14;
    opacity: 0;
    transition: .5s;
    z-index:99;
}

.portfolio-content {
    position: absolute;
    bottom: 30px;
    left: 0px;
    padding-left:17px;
    padding-right:17px;
    transition: .3s ease;
    z-index: 9;
    color: #fff;
    transform: translateY(160%);
    z-index:999
}
.portfolio-content h5 {
    color: #fff;
    transition: .3s;
}
.portfolio-content h5:hover a{
    color: #ff5e14;
}
.portfolio-menu button {
    padding: 0 8px;
    border: 0;
    background: none;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.portfolio-menu > button:hover, .portfolio-menu > button.active{
    color: #ff5e14;
}


.home-three-about {
    margin-top: -150px;
    background: #fff;
    position: relative;
    padding-top: 15px;
}
.jkl-home-about-img img {
    transition: .3s;
}

.jkl-home-about-img img:hover {
    transform: scale(1.1);
}
.jkl-home-card-img {
    text-align: center
}

.jkl-home-card-img img {
    transition: .3s;
}

.jkl-home-card-img img:hover {
/*     transform: rotate(1deg) scale(1.05); */
    transform:none;
}

.jkl-home-parallex {
    position: relative;
    top: 0px;
    background-image: url("../images/about-us-section3-bg.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jkl-extra-activity-parallex {
    position: relative;
    top: 0px;
    background-image: url("../images/about-us-section3-bg.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jkl-extra-activity-parallex-infra {
    background-image: url("../images/about-us-section3-bg.jpg");
}

.jkl-home-parallex-about-us {
    background-image: url("../images/about-us-section3-bg.jpg");
}
.jkl-yoga-parallex {
    background-image: url("../images/about-us-section3-bg.jpg");
}
.jkl-home-parallex::before, .jkl-extra-activity-parallex::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index:0
}
.jkl-home-parallex .container-fluid, .jkl-extra-activity-parallex .container-fluid {
    z-index: 1;
}
.jkl-home-parallex .container, .jkl-extra-activity-parallex .container {
    background-color: #000000a6;
    padding-left: 40px;
    padding-right: 40px;
    z-index:1;

}


.jkl-job-updates {
    position: relative;
    top: 0px;
    min-height: 100px;

}


.jkl-job-updates-updates .container-fluid {
    z-index: 2;
}


.jkl-job-updates  a:hover{
    color: #ff5e14;
}
.jkl-job-updates a {
    color: #d0d0d0;
    font-weight: 600;

}



.jkl-home-updates {
    position: relative;
    top: 0px;
    min-height: 300px;

}


.jkl-home-updates::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130%;
    background: #000;
    opacity: .5;
    z-index:0
}
.jkl-home-updates .container-fluid {
    z-index: 2;
}


.jkl-home-updates  a:hover{
    color: #ff5e14;
}
.jkl-home-updates a {
    color: #d0d0d0;
    font-weight: 600;

}

.home-date {
    color: #ff5e14;
}

.home-update-entry {
    margin: 8px
}
.jkl-home-update-container {
    background-color: #0000006e;
    padding-top:10px;
    margin-bottom: 100px
}

.jkl-job-update-container {
    background-color: #000000;
    padding-top:10px;
    margin-bottom: 20px;
    margin-top:20px
}



.jkl-contact-us-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    background-image: url("../images/contact-us-section2-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1
}

.jkl-counter {
    position: relative;
    top: 0px;
/*     background-image: url("../images/home_section4-bg.jpg"); */
     background-image: url("../images/about-us-section3-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jkl-counter-residental {
/*     background-image: url("../images/residental-section5-bg.jpg"); */
    background-image: url("../images/about-us-section3-bg.jpg");
}

.counter-area {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.single-counter span {
    font-size: 48px;
    color: #ff5e14;
}
.counter{
    color: #fff;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 7px;
}
.single-counter> p{
    color: #ddd;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
}


.jkl-counter::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index:0
}

/* Student Life */

.jkl-scroll-container {
    background-image: url("../../images/about-us-section3-bg.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jkl-scroll-container-academics {
    background-image: url("../images/about-us-section3-bg.jpg");
}

.jkl-scroll-container-residental {
/*     background-image: url("../images/residental-section9-bg.jpg"); */
    background-image: url("../images/about-us-section3-bg.jpg");
}

.jkl-scroll-container-academics2 {
    background-image: url("../images/about-us-section3-bg.jpg");
}

.jkl-header-bg h1 {
    position: relative
}

.jkl-header-bg h1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 2px;
    background: #ff5e14;
    bottom: -15px;
    right: 0;
    margin: auto;
}

.navbar-.navbar-toggler>.close {
    display: inline;
}
.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display: none;
}

main {
    overflow: hidden;
}











/* -------------------------------- */
/* About us */
/* -------------------------------- */

/* founder/chairman/principal */

.jkl-keypeople .col {
    background-color: #000000a6;
    z-index:1
}

/* mission vision icons */

.jkl-icon span {
    font-size: 48px;
    color: #ff5e14;
}

.jkl-academics-labs h2 {
       color: white;
}

/* -------------------------------- */
/* Contact us */
/* -------------------------------- */


/* parallax */

.jkl-contact-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 165%;
    background-image: url("../images/home/about-us-section3-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
}

/* google form */
.iframe-feedwh{
    height:870px;
    width:480px;
   }

/* branches */


/*  */

.jkl-home-about-info-white-text h3 {
    margin-bottom: 23px;
    padding-top: 23px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: .9;
    color: white;
}


.popup-trans {
    z-index:-1;
}

.modal-content{
    background-color: transparent;
    border: none;
}

#map-canvas {
    width: 100%;
    height: 675px;
    background-color: cadetblue;
}

.jkl-home-updates-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160%;
    background-image: url("../images/about-us-section3-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1
}

/* job updates bg image */
.jkl-jobs-updates-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160%;
    background-image: url("../images/about-us-section3-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1
}

.jkl-updates-bg::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    content:"";
    padding-bottom: 300px;
    height: 100%;
    box-sizing: content-box;
    background-color: #dee2e6;
    z-index:-1
}

#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.shadow-effect {

    font-family: 'Open Sans', sans-serif;
    margin-bottom: 36px;
    position: relative;
    padding: 0 170px;
}

.shadow-effect .img-center img {
    display: block;
    width: 150px !important;
    height: 150px !important;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.big-title {
    position: relative;
    color: rgb(80, 76, 76);
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    line-height: 28px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    padding: 0;
}

@media (max-width: 991px) and (min-width: 768px) {
    .big-title {
        padding: 0;
    }
}


.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 45%;
    color: #fff;
}

.owl-carousel .owl-prev {
    left: 10px;
}

.owl-carousel .owl-next {
    right: 10px;
}

.testi-without-image p h4 span {
    margin-top: 25%;
}

.jkl-footer-widget-heading h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}
.jkl-footer-widget-heading h2{
    margin-bottom:25px;
}

.big-title::before {
    position: relative;
    left: -10px;
    content: "\f10d";
    font-family: "Font Awesome 5 free";
    top: 0;
    font-style: normal;
    font-size: 27px;
    color: #ff5e14;
}

.big-title::after {
    position: relative;
    right: -10px;
    content: "\f10e";
    font-family: "Font Awesome 5 free";
    bottom: 0;
    font-style: normal;
    font-size: 27px;
    color: #ff5e14;
}

.branchimage img {

    width: 100%;
    height: 400px;
    margin-bottom: 10px;

}

.jkl-branch-pop img {
    width: 100%;
    height: auto;
}

.modal-content {
    background-color: #ffffff00;
    border: 0;
}

.modal-body {
    padding: 0;
    margin-top: 50px;
}

.button close {
    color: white;
    font-size: 34px;
    font-weight: 700;
    margin-right: -200px;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 0;
    color: #ffffff;
    position: absolute;
    top: -20px;
    right: -250px;
    text-shadow: 0 1px 0 #fff;

}

.close:hover {
    cursor: pointer;
    color: #ff5e14;
    text-decoration: none;

}

.cursor {
    cursor: pointer;
}


@media (max-width: 823px) {

    .carousel-item img {
        width: 100%;
    }
}

@media (max-width: 823px) {

    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 50%;
    }
}

@media (max-width: 823px) {

    modal-body {
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 823px) {

    .prev,
    .next {
        font-size: 16px;
    }
}

@media (max-width: 823px) {
    .close {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1;
        color: #ffffff;
        position: absolute;
        top: -40px;
        margin-right: 65%;
        text-shadow: 0 1px 0 #fff;
    }
    .jkl-header-bg {
        top: 0px;       
        height: 200px;
    }
    main>section.grey-bg:first-child>.container-fluid.pt-50{
        padding-top:0;
    }
    .jkl-footer-logo{        
        padding-left: 0;
        top: 20%;
        opacity: 0.5;
    }
}



@media (max-width: 767.98px) {
    .big-title {
        position: relative;
        font-size: 15px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 36px;
        margin-bottom: 5%;
        padding: 0;
    }
    .jkl-header-bg {
        top: 0px;       
        height: 200px;
    }
    main>section.grey-bg:first-child>.container-fluid.pt-50{
        padding-top:0;
    }
    main.contact-us>section.grey-bg:first-child>.container-fluid.pt-50{
        padding-top:5px;
    }
    .row.branch-cards .row.m-0>.col-xl-6.col-lg-6.col-md-6.col-sm-12.p-0.text-center>a[role='button']{
         height: auto;
         float: left;
    }
    .row.branch-cards .col-xl-6.col-lg-6.col-md-6.col-sm-12.align-self-center.text-center{
        float:left;
        padding-bottom: 10px;
    }
}

@media (max-width: 767.98px) {
    .img-center {
        display: block;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 767.98px) {
    .shadow-effect {
        margin: 0;
        padding: 0;
    }
}
 main.contact-us iframe{
     width:100% !important;
}
@media (max-width: 767.98px) {
    .shadow-effect .img-center img {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
    main.contact-us iframe{
        width:100%;
        height: 1075px;
    }
}



/* fixes */
/* main.contact-us .bg-contact *{
    color:#fff !important;
} */
main.contact-us .jkl-contact-us-bg{
    background-image: none;
}
/* html body .freebirdFormviewerViewFormCard:first-of-type{
    box-shadow: none;
} */
main.contact-us #section1{
   background-image: linear-gradient(#F8F9FA, #fff);
}
 html body .quantumWizTextinputPaperinputMainContent{
     height:auto;
}
 html body .freebirdFormviewerViewHeaderHeader{
    margin-bottom:0;
}
html body .freebirdFormviewerViewHeaderTitle, html body .freebirdFormviewerViewItemsItemItemTitle{
    line-height: 18px;
}
.about-content, .about-content p{
    text-align: justify;
}
.almuni-block .pt-60 {
    padding-top: 0px;
}
.student-life .portfolio-content, .residental-esae-of-living .portfolio-content{
    visibility: hidden;
}
.student-life .jkl-extra-activity-parallex {
    min-height:1035px;
}
.copyrightText span{
    font-size: 13px;
    color: #d0d0d0;
}
